/* font import start */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* font import end */


/* default section start */

html{

    font-size: 62.50%;
    /* default font size set to 10px */
}

*{

    margin: 0rem;
    padding: 0rem;
    /* box-sizing: border-box; */
}


/* default section end */


/* body style start here */


body{

    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #00132D;
}


/* body style end here */


/* main section style start here */


.container{

    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}


.pin_genaratorSection{

    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 35rem;
    background-color: #001E45;
    border-radius: 2rem;
    border: solid 0.2rem #002657;
    padding: 5rem 11rem 12rem 11rem
}


.containerElements{

    display: flex;
    gap: 15rem;
}


.pinIdentyficationSection{

    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 30rem;
    background-color: #001E45;
    border-radius: 2rem;
    border: solid 0.2rem #002657;
    padding: 6rem 10rem 5rem 10rem;
}


.dailPad{

    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.buttons{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}


.buttons button{

    padding: 1rem 0rem;
    font-size: 2.5rem;
    border-radius: 1rem;
    background-color: #00132D;
    color: white;
    border: solid 0.2rem #002657;
}

#submit{

    display: inline-block;
    padding: 1rem 0.5rem;
    font-size: 2.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    background-color: #00132D;
    color: white;
    border: solid 0.2rem #002657;
}


#pinGenarateButton{

    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: 600;
    margin-left: 4.5rem;
    background-color: #00132D;
    border: solid 1rem #002D67;
    color: white;
}

input{

    height: 4rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    text-align: center;
    color: white;
    background-color: #00132D;
    border: solid 0.3rem #002657;
    outline: none;
    border-radius: 2rem;
}


.tryLeft{

    font-size: 2rem;
    text-align: center;
    color: rgb(9, 224, 9);
}


.notificationSection{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
    background-color: #001E45;
    padding: 1rem 1.5rem;
    border: solid 0.2rem #002657;
    border-radius: 1rem;
    color: white;
}


.correctNotification{

    font-size: 2rem;
}


.wrongNotification{

    font-size: 2rem;
}

.tryFinished{

    font-size: 2rem;
}


/* main section style end here */