/* font import start */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* font import end */


/* default section start */

html{

    font-size: 62.50%;
    /* default font size set to 10px */
}

*{

    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}


/* default section end */


/* body style start here */


body{

    height: 100vh;
    font-family: 'Inter', sans-serif;
}


/* body style end here */


/* main section style start here */


.container{

    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


/* main section style end here */