/* font import */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* default section start */

html{

    font-size: 62.50%;
    /* default font size set to 10px */
}

*{

    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{

    font-family: 'Inter', sans-serif;
    background-color: #00132D;
}


/* default section end */


/* main section start */


.wrapper{

    max-width: 30%;
    margin: 0 auto;
}

.formWrapper{

    margin: 5rem 0rem 8.5rem 0rem;
}

.formWrapper h1{

    font-size: 3.5rem;
    color: white;
    font-weight: 700;
    padding: 4rem 0rem 2.5rem 0rem;
}

.input_task{

    width: 100%;
    padding: 1rem;
    font-size: 2.2rem;
    outline-color: #00377E;
    margin-bottom: 1.4rem;
}

#submit_btn{

    padding: 1.2rem 1.5rem;
    font-size: 1.8rem;
    background-color: #075ecf;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
}


.taskList{

    border: 0.1rem solid #002D67;
    padding: 2rem 2rem 4rem 2rem;
    background-color: #00193B;
}

.taskListContent{

    background-color: #00132D;
    padding: 1rem;
}

#taskList h2{

    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
    font-weight: 700;
}

.input_display{

    width: 100%;
    padding: 1rem;
    font-size: 2.2rem;
    background-color: #00132D;
    outline: none;
    border: none;
    border-bottom: 0.1rem solid #002D67;
    margin-bottom: 2rem;
    color: white;
}

.edit{

    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    background-color: #075ecf;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
}

.delete{

    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    background-color: #720909;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
    margin: 0rem 0.4rem;
}

.complete{

    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    background-color: #0a490f;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
}


/* main section end */