/* font import */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* default section start */

html{

    font-size: 62.50%;
    /* default font size set to 10px */
}

*{

    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{

    font-family: 'Inter', sans-serif;
    background-color: #020335;
}


/* default section end */


/* main section start */


.wrapper{

    max-width: 40%;
    margin: 0 auto;
}

.formWrapper h1{

    font-size: 3.5rem;
    color: white;
    font-weight: 700;
    padding: 4rem 0rem 2rem 0rem;
}


/* main section end */