/* font import */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* default section start */

html{

    font-size: 62.50%;
    /* default font size set to 10px */
}

*{

    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{

    font-family: 'Inter', sans-serif;
    background-color: #00132D;
}


/* default section end */


/* main section start */


.wrapper{

    max-width: 30%;
    margin: 0 auto;
}

.formWrapper{

    margin: 5rem 0rem 9rem 0rem;
}

.formWrapper h1{

    font-size: 3.5rem;
    color: white;
    font-weight: 700;
    padding: 4rem 0rem 3rem 0rem;
}

.input_task{

    width: 100%;
    padding: 1rem;
    font-size: 2.2rem;
    outline-color: #00377E;
    margin-bottom: 1.4rem;
}

#submit_btn{

    padding: 1.5rem;
    font-size: 1.8rem;
    background-color: #075ecf;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
}


/* main section end */