
/* default section start here */

html{

    font-size: 62.50%;
    /* default font size set to 10px */

}

*{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

body{

    background-color: aliceblue;
    text-align: center;

}


/* default section end here */


/* css for calculator start here */





/* css for calculator end here */