
/* default section start here */

html{

    font-size: 62.50%;
    /* default font size set to 10px */

}

*{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

body{

    background-color: aliceblue;
    text-align: center;

}


/* default section end here */


/* css for calculator start here */


.main_container{

    margin-top: 5rem;
}

.wrapper_column_flex{

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.wrapper_column_flex h1{

    font-size: 3.8rem;
}

.wrapper_column_flex h2{

    font-size: 3.5rem;
    margin: 3rem 0rem;
}

input{

    font-size: 2.2rem;
    padding: 1.2rem;
    padding-left: 4rem;
    border: 0.1rem solid rgb(243, 242, 242);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1rem;
}

input:focus{

    outline: none;
}

.input_section{

    display: flex;
    gap: 3rem;
    justify-content: center;
}

.button_section{

    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-bottom: 5rem;
}

button{

    padding: 1.4rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border-color: rgba(0, 0, 0, 0.35);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button:focus{

    outline: none;
}

.popup_layout{

    display: flex;
    width: 40rem;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
}

.popup_layout img{

    width: 20rem;
    margin-top: -9rem;
}

.popup_layout h3{

    margin-bottom: 3.5rem;
    font-size: 2rem;
}

.popup_layout button{

    margin-bottom: 2.5rem;
    padding: 1rem 2.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


/* css for calculator end here */