/* font import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* default section start */


html{

    font-size: 62.50%;
    /* default font size will be 10px for the website */
}


*{

    margin: 0rem;
    border: none;
    padding: 0rem;
    box-sizing: border-box;
}


/* default section end */


/* main section start */


.container{

    height: 100vh;
    width: 100%;
    position: relative;

}


.pattern-bg-desktop{

    width: 100%;
    height: 25vh;

}

#map{

    width: 100%;
    height: 75vh;
    margin-top: -0.1rem;
}

.absolute_content{

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    top: 1.5%;
    left: 17%;
    z-index: 1001;
}

.heading{

    color: white;
    font-size: 4.5rem;
    font-weight: 400;
}

.input_section{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input{

    height: 6rem;
    width: 50rem;
    font-size: 2.5rem;
    padding-left: 0.5rem;
    outline: none;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}

button{

    width: 12rem;
    height: 6rem;
    font-size: 2.5rem;
    border-radius: 1rem;
    background-color: #000103;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;

}

button:hover{

    transform: scale(1.01);
    background-color: #7e7e7e;
}

.location_detailes{

    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
}

.detailes{

    display: flex;
    width: 30rem;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.8rem;
    padding: 2rem;
    border-right: solid 0.1rem #7e7e7e;
    transition: all 0.3s linear;
}

.detailes:hover{

    transform: rotate(-1deg)
}

.detailes:last-child{

    border: none;

}

.detailes h6{

    font-size: 1.4rem;
    font-weight: 600;
    color: #7e7e7e;
}

.detailes h2{

    font-size: 3rem;
}

::-webkit-scrollbar{

    background-color: transparent;
    background: transparent;
    width: 0rem;
}


/* main section end */