/* font import section start */


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* font import section end */


/* default section start */


.wrapper{

    max-width: 70%;
    margin: 0rem auto;
}

img{

    max-width: 100%;
}


html{

    font-size: 62.50%;
    /* default font size will be 10px for the website */
}


*{

    margin: 0rem;
    border: none;
    padding: 0rem;
    box-sizing: border-box;
}


/* default section end */


/* header section start */


.header_wrapper_flex{

    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
}

ul{

    display: flex;
    width: 31rem;
    justify-content: space-between;
}

li{

    list-style-type: none;
    font-size: 2rem;
    cursor: pointer;
}

.header_wrapper_flex h2{

    font-size: 3.5rem;
    cursor: pointer;
}

.header_wrapper_flex a{

    text-decoration: none;
    font-size: 2rem;
    color: black;
    padding: 1rem 1.5rem;
    border: solid 0.1rem black;
    border-radius: 2rem;
    transition: all 0.2s linear;
}

/* header hover effect start */


li:hover{

    color: rgba(0, 0, 0, 0.712);

}

.header_wrapper_flex a:hover{

    background: #e29f94;
    border: solid 0.1rem #e29f94;

}


/* header hover effect end */


/* header section end */