/* font import section start */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* font import section end */


/* default section start */

html{

    font-size: 62.50%;
    /* default font size set to 10px */
}

*{

    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    border: none;
}


body{

    font-family: 'Inter', sans-serif;
    background-color: #EDEDE9;
}


/* default section end */


/* main section start here */


.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h1{

    font-size: 4.5rem;
    color: rgb(26, 17, 43);
    margin: 5rem 0rem;
}

.elements{

    display: flex;
    flex-direction: column;
    gap: 5rem;
}


label{

    padding-right: 2rem;
    font-size: 3rem;
}


img{

    width: 100rem;
    height: 70rem;
    padding: 1.5rem;
    background-color: #F5EBE0;
}

span{

    background-color: #F5EBE0;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/* main section end here */